.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 708px;

  margin: 20vh auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  :nth-child(-n+31) {
    height: 100px;
    width: 100px;
    margin: 1px 0.5px;
    line-height: 100px;
    align-content: center;
    background-color: #eee;
    border: 1px solid #000;
  }

  &-mon {
    :nth-child(1) {
      margin-left: 1px;
    }
  }

  &-tue {
    :nth-child(1) {
      margin-left: 102px;
    }
  }

  &-wed {
    :nth-child(1) {
      margin-left: 203px;
    }
  }

  &-thu {
    :nth-child(1) {
      margin-left: 304px;
    }
  }

  &-fri {
    :nth-child(1) {
      margin-left: 405px;
    }
  }

  &-sat {
    :nth-child(1) {
      margin-left: 506px;
    }
  }

  &-sun {
    :nth-child(1) {
      margin-left: 607px;
    }
  }

  :nth-child(-n+31)::before {
    display: block;
    text-align: center;
  }

  &-30 :nth-child(31),
  &-28 :nth-child(n+29):nth-child(-n+31),
  &-29 :nth-child(n+30):nth-child(-n+31) {
    display: none;
  }

  :nth-child(-n+31):hover {
    background-color: #ffbfcb;
    cursor: pointer;

    transform: translate(0, -20px);
    transition-duration: 0.5s;
  }

  @for $i from 1 through 31 {
    :nth-child(#{$i})::before {
      content: "#{$i}";
    }
  }
}
