.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 708px;

  margin: 20vh auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  :nth-child(-n+31) {
    height: 100px;
    width: 100px;
    margin-right: 1px;
    margin-bottom: 1px;
    line-height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    transition-duration: 0.5s;
  }

  $weekDay:
    "mon" 0,
    "tue" 1,
    "wed" 2,
    "thu" 3,
    "fri" 4,
    "sat" 5,
    "sun" 6;

  @each $name, $index in $weekDay {
    &-#{$name} :nth-child(1) {
      margin-left: ($index * 100) + (1px * $index);
    }
  }

  :nth-child(-n+31)::before {
    display: block;
    text-align: center;
  }

  @for $i from 1 through 31 {
    :nth-child(#{$i})::before {
      content: "#{$i}";
    }
  }

  @for $daysCount from 28 through 30 {
    &-#{$daysCount} :nth-child(n+#{$daysCount+1}):nth-child(-n+31) {
      display: none;
    }
  }

  :nth-child(-n+31):hover {
    background-color: #ffbfcb;
    cursor: pointer;
    transform: translate(0, -20px);
  }
}
