@mixin day($dayNumber) {
  div:nth-child(#{$dayNumber}) {
    height: 100px;
    width: 100px;
    line-height: 100px;
    align-content: center;
    background-color: #eeeeee;
    border: 1px solid #000;
  }

  div:nth-child(#{$dayNumber})::before {
    content: "#{$dayNumber}";
    display: block;
    text-align: center;
  }

  div:nth-child(#{$dayNumber}):hover {
    background-color: #ffbfcb;
    cursor: pointer;
    transform: translate(0, -20px);
    transition-duration: 0.5s;
  }
}
